.Title {
  text-align: center;
  width: 100%;
  color: #000;
  color: var(--header_text);
  font-weight: 800;
  font-family: "TT Commons",-apple-system,system-ui,Helvetica Neue,Roboto,sans-serif;
  font-family: var(--font-tt);
  margin-left: 50%;
}
.List{
  font-weight: normal;
  text-align: center;
  margin-top: 30%;
}
.h4 {
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: lighter;
}
.Search__placeholderText {
  margin-left: 15px;
  margin-top: 10px;
}
.BigButton {
  /*flex: 1 0 auto;*/
  background-color: #1d3a5c;
  color: aliceblue;
  align-self: flex-end;
}

.AddCartContainer{
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 30%;
  background-color: #6f7985;

  /*position: absolute;*/
  /*height: 80px;*/
}
