.Title {
  text-align: center;
  width: 100%;
  color: #000;
  color: var(--header_text);
  font-weight: 800;
  font-family: "TT Commons",-apple-system,system-ui,Helvetica Neue,Roboto,sans-serif;
  font-family: var(--font-tt);
  margin-left: 50%;
}
.List{
  margin-left: 230px;
  margin-top: 100px;
  font-weight: normal;
}
.h4 {
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: lighter;
}
.Search__placeholderText {
  margin-left: 15px;
  margin-top: 10px;
}
.BigButton {
  /*flex: 1 0 auto;*/
  background-color: blueviolet;
  color: aliceblue;
  align-self: flex-end;
  /*margin-top: 178px;*/
}

.AddCartContainer{
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #0a0a0a;

  /*position: absolute;*/
  /*height: 80px;*/
}
